/* --salman farshe-- */
/*Screen = B/w 1025px to 1280px*/
@media (min-width: 1200px) {
  .container {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .the_main_wrapper {
    display: none !important;
  }
}
/*Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  .the_main_wrapper {
    display: none !important;
  }
}
/*Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
  .the_main_wrapper {
    display: none !important;
  }
}
/*Screen = B/w 320px to 479px*/
@media (min-width: 320px) and (max-width: 480px) {
  .the_main_wrapper {
    display: none !important;
  }
}
/* small devices */
@media (max-width: 320px) {
  .the_main_wrapper {
    display: none !important;
  }
  .container {
    display: block !important;
  }
}
